/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: roboto, sans-serif;
}

/* Header */

header {
  position: fixed;
  display: flex;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: hsl(52, 75%, 86%);
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: hsl(322, 86%, 50%);
}

a:hover {
  color: hsl(322, 100%, 15%);
}

a:visited {
  background-color: hsl(182, 45%, 86%);
}

header .content {
  padding: 1rem 2.5rem;
  font-size: 1.75rem;
}

.primary-navigation {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  padding-right: 2rem;
}

.primary-navigation li {
  display: inline-flex;
  padding-left: 4rem;
}

@media only screen and (max-width: 830px) {
  
  header {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
  }

  .primary-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .primary-navigation li {
    padding: 1rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 558px) {
  header { 
    display: none;
  }
}

/* CEO/Mission Statement Section */

#ceo-mission-section {
  display: inline-flex;
  width: 100%;
  height: 30.5rem;
  margin-top: 4.1rem;
  background-color: hsl(182, 45%, 86%);
}

.ceo-mission {
  display: flex;
  width: 50%;
  height: 100%;
}

.ceo-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.ceo-title {
  width: 100%;
  height: 20%;
  padding: 0.5rem 0;
  text-align: center;
  padding: 1.5rem 0;
}

.ceo-title h1 {
  font-family: "dancing script", cursive;
  font-size: 3.5rem;
}

.ceo-name h3 {
  font-size: 1.125rem;
  font-family: lora, serif;
}

.ceo-image-container-center {
  max-width: 18.75rem;
  max-height: 12.5rem;
  width: 18.75rem;
  height: auto;
}

.ceo-image-container {
  width: 100%;
  height: auto;
}

.ceo-image-container img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.ceo-name {
  width: 100%;
  height: 20%;
  padding: 0.5rem 0;
  text-align: center;
  padding: 1rem 0;
}

@media only screen and (max-width: 775px) {
  #ceo-mission-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    margin-top: 0;
  }
}

@media only screen and (max-width: 670px) {
  .ceo-container {
   width: 100%;
  }
}


/* Mission Statement Section */

.mission-statement-section {
  width: 50%;
  height: 100%;
}

.mission-statement-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.mission-statement p {
  display: block;
  padding-top: 5.5rem;
  min-width: 14rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 670px) {
  .mission-statement-section {
    display: none;
  }
}

/* Instruments */

h2 {
  padding: 4rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}

#instruments-section {
  width: 100%;
  background-color: hsl(190, 60%, 90%);
}

.instruments-container {
  justify-content: space-around;
  flex-wrap: wrap;
}
.piano-sax-guitar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.drums-violin {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
}

.container {
  text-align: center;
  max-width: 18.75rem;
  background-color: hsl(182, 40%, 65%);
}

.container h3 {
  font-family: lora, serif;
  padding: 1rem;
}

.image-container {
  width: auto;
  height: 100%;
}

.container img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 910px) {
  .piano-sax-guitar, .drums-violin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

/* Teachers Section */

#teachers-locations-section {
  width: 100%;
  display: inline-flex;
}

.teachers-section {
  width: 50%;
  background-color: hsl(182, 50%, 90%);
}
.teachers-section h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  
}

.teachers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2.25rem;

}

.teacher-container {
  text-align: center;
  max-width: 18.75rem;
  min-width: 12.5rem;
  margin: 0.5rem;
  background-color: hsl(182, 40%, 65%);
}

.teacher-container h3 {
  font-family: lora, serif;
  padding: 1rem;
}

.teacher-name  {
  font-family: lora, serif;
  padding: 1rem;
  font-weight: 200;
  font-style: italic;

}
.teacher-image-container {
  width: auto;
  height: 100%;
}

.teacher-container img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 460px) {
  .teachers-container {

  }
}

@media only screen and (min-width: 320px) and (max-width: 520px) {
  #teachers-locations-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

/* Locations Section */

#locations-section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: hsl(182, 50%, 90%);
}

#locations-section h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}

.south-north {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}

.east {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem 0;
}

.west-central {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location-container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 12.5rem;
  padding: 1rem;
  background-color: hsl(182, 40%, 65%);
}
.location {
  width: auto;
  height: 100%;
}

.location-container-center h3 {
  font-family: lora, serif;
}


@media only screen and (max-width: 835px) {
  .west-central, .east, .south-north {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .location-container-center {
    margin: 0.2rem;
  }

  .east {
    margin: 0;
  }
}
/* Footer Section */

footer {
  display: flex;
  z-index: 100;
  width: 100%;
  border-top: solid 1px #c6c1c1;
  background-color: hsl(52, 75%, 86%);
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem;
  font-weight: 600;
}

footer nav a {
  text-decoration: none;
  padding-left: 0.5rem;
  color: hsl(322, 86%, 50%);
}
/*
footer .content {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.75rem;
  margin-left: 1rem;
}
*/
footer nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

footer nav li {
  display: inline-flex;
  padding: 0.5rem;
}
